.bookmarkButton {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: var(--dark-blue);
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: var(--white);

    .bookmarkIcon {
      opacity: 1;
      stroke: var(--dark-blue);
    }
  }
  z-index: 1000;
}

.bookmarkIcon {
  opacity: 1;
  stroke: var(--white);
}

.bookmarkButtonRecCard {
  position: absolute;
  top: 10px;
  right: 35px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: var(--dark-blue);
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: var(--white);

    .bookmarkIcon {
      opacity: 1;
      stroke: var(--dark-blue);
    }
  }
  z-index: 1000;
}
