@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main-color: #0079ff;
  --red-color: #fc4747;
  --dark-blue: #10141e;
  --greyish-blue: #5a698f;
  --semiDark-blue: #161d2f;
  --white: #fff;
}

.container {
  width: 100%;
  max-width: 89%;
  padding-top: 32px;
  margin-left: 164px;
}

.hoverCardHiden {
  opacity: 0;
}

.hoverCardVisible {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.6;
  transition: opacity 0.3s;
  z-index: 0;
}

.hoverRecCardHiden {
  opacity: 0;
}

.hoverRecCardVisible {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.6;
  transition: opacity 0.3s;
  z-index: 0;
}

.bookmarkButton {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: var(--dark-blue);
  opacity: 0.5;
  cursor: pointer;
}

.activeBookmarkButton {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  opacity: 1;
  background-color: var(--white);
  .bookmarkIcon {
    opacity: 1;
    stroke: var(--dark-blue);
  }
}

.bookmarkRecButton {
  position: absolute;
  top: 10px;
  right: 35px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: var(--dark-blue);
  opacity: 0.5;
  cursor: pointer;
}

.activeRecBookmarkButton {
  position: absolute;
  top: 10px;
  right: 35px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: var(--white);
  opacity: 1;
  cursor: pointer;
  .bookmarkIcon {
    opacity: 1;
    stroke: var(--dark-blue);
  }
}

.bookmarkIcon {
  opacity: 1;
  stroke: var(--white);
}

body {
  font-family: "Outfit", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-blue);
}

ul {
  padding: 0;
}

.trendingTitle {
  margin-bottom: 25px;
  font-family: "Outfit";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.5px;
  color: var(--white);
}

.recommendationTitle {
  margin-top: 40px;
  margin-bottom: 32px;
  font-family: "Outfit";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.5px;
  color: var(--white);
}

@media (max-width: 1439px) {
  .bookmarkRecButton {
    position: absolute;
    top: 10px;
    right: 60px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: var(--dark-blue);
    opacity: 0.5;
    cursor: pointer;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 89%;
    padding-top: 0;
    margin-left: 35px;
  }
  .bookmarkRecButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: var(--dark-blue);
    opacity: 0.5;
    cursor: pointer;
  }
  .activeRecBookmarkButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: var(--white);
    opacity: 1;
    cursor: pointer;
    .bookmarkIcon {
      opacity: 1;
      stroke: var(--dark-blue);
    }
  }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    max-width: 93%;
    padding-top: 0;
    margin-left: 10px;
  }
  .trendingTitle {
    margin-bottom: 25px;
    font-family: "Outfit";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.5px;
    color: var(--white);
  }

  .recommendationTitle {
    margin-top: 40px;
    margin-bottom: 32px;
    font-family: "Outfit";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.5px;
    color: var(--white);
  }

  .bookmarkButton {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: var(--dark-blue);
    opacity: 0.5;
    cursor: pointer;
  }

  .activeBookmarkButton {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    opacity: 1;
    background-color: var(--white);
    .bookmarkIcon {
      opacity: 1;
      stroke: var(--dark-blue);
    }
  }
}
